 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Working with technology for many years has given me a unique perspective on "how things work" from the inside out. I've worn many hats in IT from Technical Support and hardware to building business applications with Filemaker and Lotus Notes. No matter what I have accomplished I've always longed to get back to my true love of building and troubleshooting apps.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently my specialities are in Ruby on Rails, and Javascript platforms such as Node.js, Jquery, and Angular. I also love my cats Perl and Maisy and to ride my motorcycle fast. I also enjoy recording music and playing my guitar and pretending to be a "Rock Star" when I find the time.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>