 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a skilled IT professional with 15 years experience developing applications for small to large sized businesses. I am seeking a fun and rewarding opportunity in the world of web development, specializing in Ruby on Rails, and Javascript platforms such as Node.js, Jquery, and Angular. I’ve recently completed a Full Stack apprenticeship at Bloc and am currently enrolled in a Front End development apprenticeship.</p>
                </div>
                <div class="col-lg-4">
                    <p>Working with technology for over 20 years has given me a unique perspective on "how things work" from the inside out. From my time in the Army where I learned how to fix complex communication systems, to providing "round the clock" support at CES responding to a rapidly changing environment, I have consistently achieved my goals through a strong work ethic.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>