 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Working with technology for over 20 years has given me a unique perspective on "how things work" from the inside out. I enjoy building apps in Ruby on Rails, and Javascript platforms such as Node.js, Jquery, and Angular.</p>
                </div>
                <div class="col-lg-4">
                    <p>I love my cats Perl and Maisy. I like to ride my motorcycle and go really fast. I also enjoy recording music and playing my guitar like a "Rock Star" when I find the time.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>