<div class="posts">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>My Posts</h2>
      <hr class="star-primary">
    </div>
  </div>

  {% for post in paginator.posts %}
    <div class="row post-teaser">
      <div class="col-lg-12">
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h3>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
        <div class="excerpt">
          {{ post.excerpt }}
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme.str_continue_reading }}
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>