<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center post-page">
                <h2>{{ page.title }}</h2>
                <hr class="star-primary">
            </div>
        </div> 
            <div class="row">
                <div class="col-lg-12">
                        <p class="metameta">
                            {{ page.date | date: "%B %-d, %Y" }}
                            {% if page.author %} - {{ page.author }}{% endif %}
                        </p>
                    <!-- </article> -->
                    <section>{{ content }}
                    <a href="#" class="button" onclick="window.history.back(-1)" >
                      <i class="fa fa-chevron-left"></i>
                        Back
                    </a>
                    </section>
                    </div>
                </div>
            </div>
        <div class="sticky-footer text-center footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                        </div>
                    </div>
            </div>
        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visible-sm">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </body>
</html>
