<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
<div class="post-page">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12">
                        <h2 class="title">{{ page.title }}</h2>
                        <p class="meta">
                            {{ page.date | date: "%B %-d, %Y" }}
                            {% if page.author %} - {{ page.author }}{% endif %}
                        </p>
                    <!-- </article> -->
                    <section>{{ content }}
                    <a href="#" class="button" onclick="window.history.back(-1)" >
                      <i class="fa fa-chevron-left"></i>
                        Back
                    </a>
                    </section>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
